#Ignore Play! working directory
bin/
/db
.eclipse
/lib
/logs/
/modules/
tmp/
test-result
server.pid
/dist/
.cache

# Ignore activator stuff
logs
project/project
target/
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*-shim.sbt
.DS_Storelogs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*~
