
@(title: String, name: String)


@views.html.Admin.fullTemplate(name, title) {

<main>
    <section class="hero">
        <h1>Welcome @name</h1>
        <div class="container">

            <div class="adminOptions">
            <a href="@controllers.auth.routes.Landing.createUser(name)">
                Create User
            </a>
            <a href="@controllers.auth.routes.Landing.demo(name)">
                demo
            </a>
            <a href="@controllers.auth.routes.Landing.db(0, 2, "",name)">
                DB maintenance
            </a>
            <a href="@controllers.auth.routes.Landing.analytics(name)">
               analytics
            </a>
        </div>


    </div>
    </section>

</main>



}