
@(title: String, name: String)


@views.html.Admin.fullTemplate(name, title) {

<main class = "Aligner">
    <div class="CTA Aligner-item">

        <p>Pick your poison</p>
        <div>
            <a href="@controllers.auth.routes.Landing.createUser(name)">
                <h1>Create User</h1>
                <p>Create NormalUsers or Admins</p>
            </a>
            <a href="@controllers.auth.routes.Landing.demo(name)">
                <h1>Demo</h1>
                <p>View the demo</p>
            </a>
            <a href="@controllers.auth.routes.Landing.db(0, 2, "",name)">
                <h1>DB Maintenance</h1>
                <p>Update DB rows</p>
            </a>
            <a href="@controllers.auth.routes.Landing.analytics(name)">
                <h1>Analytics</h1>
                <p>Learn about our users</p>
            </a>
        </div>


    </div>

</main>



}