
@(title: String, name: String)


@views.html.Admin.fullTemplate(name, title) {

<main class = "Aligner">
    <div class="CTA Aligner-item">
        <p>Create a new User Account</p>

        <form class="emailbox">
            <input type="email" class="box" />
            <span class="placeholder">Email</span>
            <input type="password" class="box" />
            <span class="placeholder">Password</span>
            <input type="password" class="box" />
            <span class="placeholder">First Name</span>
            <input type="password" class="box" />
            <span class="placeholder">"NormalUser" or "Administrator"</span>
            <button type="submit">Create Account</button>
        </form>
    </div>

</main>

}