@(form: Form[newAccount], title: String, name: String)(implicit flash: play.api.mvc.Flash)

@views.html.Admin.fullTemplate(name, title) {

<main>
    <section class="hero create">
    <div class="container">
        <h1>Create User</h1>
        <p>"Administrator" or "NormalUser"</p>

        @flash.get("success").map { message =>
        <div class="alert-message">
            <strong>Done!</strong> @message
        </div>
        }

        @form.errors.map { error =>
        <div class="alert-message">
            <strong>Failed</strong> @error.message
        </div>
        }

@helper.form(auth.routes.Landing.addAccount(title, name)) {


            <input type="email" name="email" id="email" class="box" />
            <span class="placeholder">Email</span>
            <input type="password" name="password" id="password" class="box" />
            <span class="placeholder">Password</span>
            <input type="text" name="firstName" id="firstName" class="box" />
            <span class="placeholder">First Name</span>
            <input type="text" name="role" id="role" class="box" />
            <span class="placeholder">"NormalUser" or "Administrator"</span>
            <input type="submit" value="create account">



}
    </div>

        </section>
</main>

}