@(form: Form[Option[Account]])(implicit flash: Flash)

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SnappyAdmin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<header>
    <div class="container">
        <div class="logo">
            <h1>
                <a href="@routes.Registration.newReg">
                    <img src="@routes.Assets.at("images/SNP-Icon-White.png")" alt="SnappyData" />
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="@routes.PrismicMain.index()">blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero login">
        <div class="container">
            <h1>Snappy Admin </h1>
            <p>Please login.</p>
  @helper.form(controllers.routes.Admin.authenticate) {

    @form.globalError.map { error =>
      <input>
        @error.message

    }

    @flash.get("success").map { message =>
      <input>
        @message

    }



        <input type="email" name="email" id="email" class="box" value="@form("email").value"/>
        <span class="placeholder">email</span>
        <input type="password" name="password" id="password" class="box" />
        <span class="placeholder">password</span>
        <input type="submit" value="login"/>



  }

            </div>

    </section>
</main>
<footer>
    <div class="container Aligner">
        <nav class="Aligner-item">
            <ul>
                <li><a href="@routes.PrismicMain.index()">blog</a></li>
            </ul>
        </nav>
        <div class="logo Aligner-item">
            <h1>
                <a href="@routes.Registration.newReg">
                    <img src="@routes.Assets.at("images/SNP-Icon-Green.png")" alt="SnappyData" />
                </a>
            </h1>
        </div>
        <div class="social Aligner-item">
            <ul>
                <li>
                    <a target="_blank" href="http://www.facebook.com/snappydata"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a target="_blank" href="http://twitter.com/SnappyData"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a target="_blank" href="http://www.linkedin.com/company/snappydata"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="@routes.Assets.at("javascripts/vendor/jquery-1.11.3.min.js")"><\/script>')</script>
<script src="@routes.Assets.at("javascripts/plugins.js")"></script>

<script>
    $(document).ready(function(){

    $( "input").focus(function(e) {

        $( e.target ).next(".placeholder").addClass( "blur" ).fadeOut( 900 );
    });
    $( "input" ).blur(function(e) {
        var val=$(e.target).val();
        if(!val){
            $(  e.target  ).next(".placeholder").removeClass( "blur" ).fadeIn( 300 );
        }

    });
    $( ".placeholder " ).click(function(e) {

        $( e.target ).addClass( "blur" ).fadeOut( 900 );
        $(e.target).prev("input").focus();
    });
});
    </script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64703291-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
