@import helper._

@(newPersonForm: Form[NewPerson])

@main("Welcome to SnappyData") {
<main>
    <section class="hero">
        <div class="container">
            <h1>Big Data Analytics without a Big Data Investment</h1>
            <p>Be the first to know when we open source our beta</p>
            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
    <section class="explainerWhat">
        <div class="container">
            <div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">Introducing SnappyData</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">A new real-time analytics platform that combines probabilistic data structures, approximate query processing and in memory distributed data management to deliver powerful analytic querying and alerting capabilities on Apache Spark at a fraction of the cost of traditional big data analytics platforms. <a href="#">Learn more on our blog</a></p>
            </div>

            <ul>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="@routes.Assets.at("images/icons/in-memory-synopsis-green.svg")" alt=""/>
                    <h3>In-memory synopsis store</h3>
                    <p>SnappyData is an in-memory, distributed store that creates synopsis data to deliver faster analytics queries on less hardware.</p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <img src="@routes.Assets.at("images/icons/sql-spark-green.svg")" alt=""/>
                    <h3>Spark & SQL interfaces</h3>
                    <p>SnappyData delivers ease of use by exposing the Spark programming model and SQL query execution.</p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    <img src="@routes.Assets.at("images/icons/streaming-historical-green.svg")" alt=""/>
                    <h3>Streaming+Historical Analytics</h3>
                    <p>Use low latency approximate querying techniques in both historical and streaming contexts.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="explainerHow">
        <div class="container">
            <div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">How does it work?</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">SnappyData creates probabilistic summary structures and stratified samples on ingested data and intelligently uses these to answer SQL queries on the complete data set. The use of Apache Spark as the underlying platform allows data scientists and application developers to take advantage of the Spark programming model and ecosystem.
                    <a href="#">Learn more on our blog</a></p>

            </div>
            <ul>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <p>1</p>
                    <p class="Aligner-item">Install SnappyData into an existing cluster</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p>2</p>
                    <p class="Aligner-item">SnappyData builds probabilistic data structures and samples based on your most common queries</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="2s">
                    <p>3</p>
                    <p class="Aligner-item">Register continuous queries and receive alerts when query conditions are triggered on incoming data</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="2.5s">
                    <p>4</p>
                    <p class="Aligner-item">Write interactive queries with 10x less latency and 10x less resources</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div>
                <h2>SnappyData Features</h2>
            </div>
            <ul>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="@routes.Assets.at("images/icons/open-source-grey.svg")" alt=""/>
                    <p>Committed to Open Source</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
                    <img src="@routes.Assets.at("images/icons/sql-spark-grey.svg")" alt=""/>
                    <p>SQL & Spark interfaces</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.1s">
                    <img src="@routes.Assets.at("images/icons/continuous-query-grey.svg")" alt=""/>
                    <p>Scalable streaming analytics/continuous query</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s">
                    <img src="@routes.Assets.at("images/icons/synopses-grey.svg")" alt=""/>
                    <p>Probabilistic data structures designed for speed</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.7s">
                    <img src="@routes.Assets.at("images/icons/spark-grey.svg")" alt=""/>
                    <p>Integration with Spark ecosystem</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="2s">
                    <img src="@routes.Assets.at("images/icons/streaming-grey.svg")" alt=""/>
                    <p>Optimized for querying streaming data</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div>
                <div class="logo wow fadeInDown" data-wow-duration="2s">
                    <h1>
                        <a href="/snappy">
                            <img src="assets/images/SNP-Icon-Green.png" alt="SnappyData" />
                        </a>
                    </h1>
                </div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">SnappyData Team</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">SnappyData is brought to you by a team of engineers and evangelists with over a decade of experience working together in the in-memory computing industry.
            </div>
        </div>
    </section>
    <section class="finalCTA">
        <div class="container">

                <h2>Stay Informed</h2>
                <p>Be the first to know when we open source our beta</p>

            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
</main>




}