@import helper._

@(newPersonForm: Form[NewPerson])

@main("Welcome to SnappyData") {
<main>
    <section class="hero">
        <div class="container">
            <h1>Ask bigger questions, get snappy answers </h1>
            <p>Be the first to know when we open source our beta</p>
            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
    <section class="explainerWhat">
        <div class="container">
            <div>
                <p>what?</p>
                <h2 class="wow fadeInDown" data-wow-duration="2s">Introducing Snappy</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">An in-memory approximation store that executes SQL & prodcedural queries on probabilistic & sampling-based data structures designed for speed. <a href="#">Learn more on our blog</a></p>
            </div>

            <ul>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>Spark Programming Model</h3>
                    <p>Snappy aims for ease of use by exposing a simple, well known Spark programming model</p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>Scalable Continuous Query</h3>
                    <p>Continuous querying of approximate streaming data delivers fast, continuous updates.</p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>Streaming & Batch Architecture</h3>
                    <p>Use low latency approximate querying techniques in both batch and streaming contexts</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="explainerHow">
        <div class="container">
            <div>
                <p>how?</p>
                <h2 class="wow fadeInDown" data-wow-duration="2s">How does it work?</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Snappy works by computing synopsis and probabilistic data structures that it maintains in memory. A Spark programming model is exposed to easily query Snappy's infrastructure. <a href="#">Learn more on our blog</a></p>

            </div>
            <i style="font-size:20em;" class="fa fa-line-chart fa-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s"></i>
        </div>
    </section>
    <section class="finalCTA">
        <div class="container">
            <div>
                <h2>Stay Informed</h2>
                <p>Be the first to know when we open source our beta</p>
            </div>
            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
</main>




}