@import helper._

@(newPersonForm: Form[NewPerson])

@main("Welcome to SnappyData") {
<main>
    <section class="hero">
        <div class="container">
            <h1>Big data analytics without a big data investment</h1>
            <p>Be the first to know when we open source our beta</p>
            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
    <section class="explainerWhat">
        <div class="container">
            <div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">Introducing Snappy</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Big data analytics frameworks that used to require hundreds of servers, months of development and over $100k in costs  can now be set up on 1/10th of the servers, at 1/10th of the cost and run 10x faster.</p>
            </div>

            <ul>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>In-memory synopsis store</h3>
                    <p>Snappy is an in-memory, distributed store that creates synopsis data to deliver faster analytics queries on less hardware. <a href="#">Learn more on our blog</a></p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>Spark & SQL interfaces</h3>
                    <p>Snappy aims for ease of use by exposing the well known Spark programming model and SQL query execution. <a href="#">Learn more on our blog</a></p>
                </li>
                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <h3>Streaming & Batch Architecture</h3>
                    <p>Use low latency approximate querying techniques in both batch and streaming contexts. <a href="#">Learn more on our blog</a></p>
                </li>
            </ul>
        </div>
    </section>
    <section class="explainerHow">
        <div class="container">
            <div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">How does it work?</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Snappy works by computing synopsis and probabilistic data structures that it maintains in memory. A Spark programming model is exposed to easily query Snappy's infrastructure. <a href="#">Learn more on our blog</a></p>

            </div>
            <ul>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <p>1</p>
                    <p class="Aligner-item">Install Snappy on existing servers or hook into our web service</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p>2</p>
                    <p class="Aligner-item">Snappy discovers your most common analytics queries and creates synopsis data structures</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="2s">
                    <p>3</p>
                    <p class="Aligner-item">Snappy returns faster results with less resource utilization on these queries</p>
                </li>
                <li class="Aligner wow fadeInRight" data-wow-duration="1s" data-wow-delay="2.5s">
                    <p>4</p>
                    <p class="Aligner-item">You write new analytics queries for Snappy</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div>
                <h2>Snappy Features</h2>
            </div>
            <ul>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>Committed to Open Source</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.8s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>SQL & Spark interfaces</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.1s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>Scalable streaming analytics/continuous query</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.4s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>Probabilistic data structures designed for speed</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.7s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>Integration with Spark ecosystem</p>
                </li>
                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="2s">
                    <i class="fa fa-file-image-o fa-5x"></i>
                    <p>Optimized for querying streaming data</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="team">
        <div class="container">
            <div>
                <div class="logo wow fadeInDown" data-wow-duration="2s">
                    <h1>
                        <a href="/snappy">
                            <img src="assets/images/SNP-Icon-Green.png" alt="SnappyData" />
                        </a>
                    </h1>
                </div>
                <h2 class="wow fadeInDown" data-wow-duration="2s">Snappy Team</h2>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Snappy is brought to you by a team of engineers and evangelists with over a decade of experience working together in the in-memory computing industry.
            </div>
        </div>
    </section>
    <section class="finalCTA">
        <div class="container">

                <h2>Stay Informed</h2>
                <p>Be the first to know when we open source our beta</p>

            <form action="/register" method="POST" >
                <input type="text" id="email" name="email" value="" />
                <span class="placeholder">email</span>
                <input type="submit" value="Notify me" />
            </form>
        </div>
    </section>
</main>




}