@(email: String)

@import helper._

@main("Welcome to SnappyData") {

<main>
    <section class="hero">
        <div class="container">
            <h1>Thank you @email</h1>
            <p>We will send you one automated email you can respond to. We will email you again when we launch our beta. You can chat with us via the social media links below or by emailing <span>chomp at snappydata.io</span>. We're also on IRC at irc.freenode.net channel #snappy</p>
            <p>If you haven't already, you should <a href="/blog">check out our blog.</a>

        </div>
    </section>
</main>

}