@import "landing_redux";

.hero {
	padding:7% 6% 7% 6%;
	max-height:600px;
}


.summary {
	margin-top:5%;
}

				article {


					@include row();

					// * {
					// 	@include media(max-width 600px) {
					// 		text-align: center !important;
					// 	}
					// }

					img {
						@include span-columns(2);

						@include media(max-width 600px){
							display:none;
						}
					}

					& > div {
						text-align:left;
						@include span-columns(10);

						@include media(max-width 600px) {
							@include span-columns(12);
					
							
							margin:0 auto !important;
							float:none;
						}

						div {
							display:block;
				@include media(max-width 600px){
								padding:0 4%;
								
							}


						a {
							display:inline-block;
							color:$green;
						@include transition(all 0.4s ease-in-out);
						text-decoration:none;
						font-size:2em;
						&:hover {
							color:$grey;
							}

							@include media(max-width 600px) {
								font-size:1.9em;
								display:block;
							}


							@include media(max-width 400px) {
								font-size:1.7em;
							}
						}
					

						time {
							color:$grey;
						}

						& > p {
							display:inline-block;
							margin:1% 0 1% 0;
							color:$grey;
						}
					}

						& > p {
							margin:0;
							@include media(max-width 600px) {
								padding:0 4%;
							}
							@include media(max-width 400px) {
								padding:0 4%;
							}
						}
							
					}

			}


.blogroll {
	padding:7% 2% 7% 2%;

	ul {
	padding:0;

	li {
		margin-bottom:7%;
		@include span-columns(12);

		article {
			margin-top:0;
		}

		@include media(max-width 600px) {
			margin-bottom:12%
		}
	}

	li:last-of-type {
		margin-bottom:0;
	}


	}

}

.blog_content {
	padding:0 10% 7% 10%;
	color:$grey;
	text-align:left;
	@include media(max-width 600px) {
		padding:0 4% 10% 4%;
	}
	h1 {
		font-size:3.5em;

		@include media(max-width 970px) {
		font-size:3em
	}

	 @include media(max-width 650px) {
	 	font-size:2.5em;
	}

	@include media(max-width 533px) {
		font-size: 2.2em;
	}
	@include media(max-width 415px) {
		font-size: 2em;
	}
	}

	h3 {
		max-width:70%;
		margin:0 auto;
		background:$green;
		color:$white;
		padding:4% 2%;
		@include media(max-width 533px){
			max-width:100%;
			padding:8% 4%;
		}
	}
	h2 {
	font-size:2em;
	@include media (max-width 768px) {
		font-size:1.8em;
	}
		@include media (max-width 533px) {
		font-size:1.3em;
	}

			@include media (max-width 330px) {
		font-size:1em;
	}
}

	p {
		color:$grey;
		strong {color: $black}
		a {
			font-size:1em;
			&:hover {
				color:$black;
			}
		}
	}



.block-img {
	img{
	margin:0;
	float:none;
	height:auto;
	width:auto;
	max-width:100%;
	display:block !important;
}
}

 // .block-img + p {
	// 	font-size:0.9em;
	// 	@include media (max-width 533px) {
	// 		font-size: 0.7em;
	// 	}
	
 // }
}

#disqus_thread {
	padding:0 10% 7% 10%;
		@include media(max-width 600px) {
		padding:0 4% 10% 4%;
	}
}

