<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">data</a>
        </div>
        <div class="nav-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#>kek</a></li>
                <li><a href="">inyou</a></li>
            </ul>
        </div>
    </div>
</nav>
