html {
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
     font-family: "ProximaNovaT-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: white;
          font-weight:100;
}

.clearfix:before, .clearfix:after {
  content: "";
display: table;
}

.clearfix:after {
clear: both;
}


h1, p, h2 {
	margin:0;
}

h1 {
	font-size:50px;
}

h2 {
	font-size:25px;
}

p, li {
	font-size:25px;
}

a {
  font-size:20px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}


/*begin styles */

body {
  height:100%;
  background:#23272C;
}

main {
  height:100%;
  width:100%;
}

header {
position:fixed;
top:0%;
left:0%;
width:100%;
height:75px;
background:#141F28;
text-align:center;
box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
}

header > div {
  float:left;
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  text-align:left;
}

header > div > a, .edit > form > div > a {
color:#72B1DB;
text-decoration:none;
font-size:20px;
}

header > div > a:hover, .edit > form > div > a:hover {
color:#3498DB
}

header > div > h2 {
  color:#F2E096
}

header > h1 {
  margin:0px auto;
}

.CTA {
  text-align: center
}
.CTA > div, .edit > form:first-of-type {
    margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  background: #eaf8fc;
        background-image: -moz-linear-gradient(#fff, #d4e8ec);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
        border-width: 1px;
        border-style: solid;
        border-color: #c4d9df #a4c3ca #83afb7; 
  -moz-border-radius: 5px;
  border-radius: 5px;            
  width: 100%;
  max-width:600px;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
}

.edit > form:last-of-type {
  margin-top:45px;
}

.edit > form:last-of-type > input {
 background: #E74C3C;
            background-image: -moz-linear-gradient(#943329, #E74C3C);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #943329),color-stop(1, #E74C3C));
            border-width: 1px;
            border-style: solid;
            border-color: #E74C3C #B04035 #943329;
             -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
             -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
      font-size:25px;
      height: 50px;
      padding: 0;
      width: 100%;
      cursor: pointer;
      color: white;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.edit > form:last-of-type > input:hover {
      background: #E74C3C;
            background-image: -moz-linear-gradient(#E74C3C, #943329);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E74C3C),color-stop(1, #943329));
}

.CTA > div > a, .edit > form > fieldset > dl:not(:last-child) {
  margin:0px 0px 10px 0px
}

.CTA > div > a, .edit > form > fieldset > dl > dd > input  {
  display:block;
  height:100px;
  width:100%;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
   -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
   text-align:left;
   padding-left:20px;
   padding-right:20px;
   cursor: pointer;
   text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.edit {
  max-width: 500px;
margin: 0px auto;
text-align: center;
margin-top: 150px;
}

dd {
  margin:0;
}

.edit > h1 {
  font-size:40px;
}

.edit > form > fieldset > dl > dt > label {
  color:#23272C;
  font-size:25px;
}

.edit > form > fieldset > dl > dd > input {
  cursor:default;
  height:45px;
}

.edit > form > div > input {
 background: #3498DB;
            background-image: -moz-linear-gradient(#2980B9, #3498DB);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2980B9),color-stop(1, #3498DB));
            border-width: 1px;
            border-style: solid;
            border-color: #3498DB #2C80B8 #2770A1;
             -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
             -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
      font-size:25px;
      height: 50px;
      padding: 0;
      width: 100%;
      cursor: pointer;
      color: white;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.edit > form > div > input:hover {
    background: #3498DB;
            background-image: -moz-linear-gradient(#3498DB, #2980B9);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3498DB),color-stop(1, #2980B9));
}


.CTA > div > a:not(:first-child){
  margin-top:10px;
}

.CTA > div > a > h1 {
  font-size:40px;
}

.CTA > div > a:first-child{
      background: #16A085;
            background-image: -moz-linear-gradient(#107562, #16A085);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #107562),color-stop(1, #16A085));
}

.CTA > div > a:first-child:hover {
      background: #16A085;
            background-image: -moz-linear-gradient(#16A085, #107562);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #16A085),color-stop(1, #107562));
}

.CTA > div > a:nth-child(2){
       background: #2980B9;
            background-image: -moz-linear-gradient(#1E628F, #2980B9);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1E628F),color-stop(1, #2980B9));
}

.CTA > div > a:nth-child(2):hover {
      background: #2980B9;
            background-image: -moz-linear-gradient(#2980B9, #1E628F);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2980B9),color-stop(1, #1E628F));
}

.CTA > div > a:nth-child(3) {
       background: #8E44AD;
            background-image: -moz-linear-gradient(#71378A, #8E44AD);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #71378A),color-stop(1, #8E44AD));
}

.CTA > div > a:nth-child(3):hover {
      background: #8E44AD;
            background-image: -moz-linear-gradient(#8E44AD, #71378A);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #8E44AD),color-stop(1, #71378A));
}

.CTA > div > a:last-child {
      background: #C0392B;
            background-image: -moz-linear-gradient(#8C2A20, #C0392B);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #8C2A20),color-stop(1, #C0392B));
}

.CTA > div > a:last-child:hover {
      background: #C0392B;
            background-image: -moz-linear-gradient(#C0392B, #8C2A20);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #C0392B),color-stop(1, #8C2A20));
}


.CTA > div > a:active {
      outline: none;
           
             -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
}

.CTA > div > a::-moz-focus-inner {
  border: none;
}

.table {
  margin-top: 150px;
text-align: center;
}

.table > h1 {
  font-size:45px;
}

table {
  margin:0px auto;
}

th {
  font-size:30px;
}

.table > div > ul{
list-style-type:none;
list-style:none;
}

.CTA > div > a {
text-decoration:none;
}

.alert-message {
color:#F2E096;
background:none !important;
background-image:none !important;
border:none !important;
margin:0 !important;
border-radius:0 !important;
padding:0 !important;
box-shadow:none !important;
}

/* create user styles */
.CTA {
  text-align:center;
}

.CTA > form > input {
margin-bottom:10px;
}

.CTA > form {
  margin-top:15px;
  margin-left:auto;
  margin-right:auto;
  background: #eaf8fc;
        background-image: -moz-linear-gradient(#fff, #d4e8ec);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
        border-width: 1px;
        border-style: solid;
        border-color: #c4d9df #a4c3ca #83afb7;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-width:600px;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position:relative;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
}

.CTA > form > *, .CTA > div > * {
  float:left;
}

.CTA > form > .box {
      padding: 5px 9px;
            height: 50px;
            width: 100%;
            border: 1px solid #a4c3ca;
-moz-border-radius: 10px 10px 10px 10px;
             border-radius: 10px 10px 10px 10px;
            background: #f1f1f1;
            font-size:25px;
            color:black;
            text-shadow: 0 1px 0 rgba(0,0,0,0.3);

             -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
             -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);

              transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
}

.CTA > form > .box:focus {
 border-color: #8badb4;
            background: #fff;
            outline: none;
}

.CTA > form > span {
  position: absolute;
color: #8F9294;
font-size: 25px;
left: 3.5%;
}

.CTA > form > span:first-of-type {
  bottom: 83%;
}

.CTA > form > span:nth-of-type(2) {
bottom: 64%;
}

.CTA > form > span:nth-of-type(3) {
bottom: 44%;
}

.CTA > form > span:last-of-type {
bottom: 25%;
}

.CTA > form > button {
    background: #3498DB;
            background-image: -moz-linear-gradient(#2980B9, #3498DB);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2980B9),color-stop(1, #3498DB));


            border-width: 1px;
            border-style: solid;
            border-color: #3498DB #2C80B8 #2770A1;
             -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;


             -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      font-size:25px;
      height: 50px;
      /*margin: 0 0 0 10px;*/
      padding: 0;
      width: 100%;
      /*font-weight:bold;*/
      cursor: pointer;
      color: white;

      text-shadow: 0 1px 0 rgba(255,255,255,0.5);

  transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
    }

.CTA > form > button:hover {
  background: #3498DB;
            background-image: -moz-linear-gradient(#3498DB, #2980B9);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3498DB),color-stop(1, #2980B9));
}

.CTA > form > button:active {
   background: #3498DB;
      outline: none;

             -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.CTA > form > button::-moz-focus-inner {
  border: none;
}


.blur{
   text-shadow: 0 0 10px #646D6E;
   color: transparent;

  animation: scale 1s ease-in-out  alternate;
    -webkit-animation: scale 1s ease-in-out  alternate;
   -moz-animation: scale 1s ease-in-out  alternate;
}



@keyframes scale {
  50% { transform: scale(1.3)}

  }
@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.3)}

  }
  @-moz-keyframes scale {
  50% { -moz-transform: scale(1.3)}

  }

/* end create user styles */


@media (max-width: 1200px) /* phone portrait resolution */ {
header > div > h2 {
font-size:18px;
}

header > div > a {
font-size:15px;
}
}