html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

@font-face {
  font-family: Lato_a;
  src: url(../fonts/Lato-Reg.ttf); }
@font-face {
  font-family: Lato_b;
  src: url(../fonts/Lato-Reg.ttf); }
h1, p, h2, h3 {
  text-decoration: none;
  font-family: Lato_a; }

h1 {
  font-size: 4.5em; }
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 4em; } }
  @media screen and (max-width: 970px) {
    h1 {
      font-size: 3.5em; } }
  @media screen and (max-width: 650px) {
    h1 {
      font-size: 3em; } }
  @media screen and (max-width: 533px) {
    h1 {
      font-size: 2.7em; } }
  @media screen and (max-width: 415px) {
    h1 {
      font-size: 2.3em; } }
  @media screen and (max-width: 330px) {
    h1 {
      font-size: 2.15em; } }

h2 {
  font-size: 2.3em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2em; } }
  @media screen and (max-width: 533px) {
    h2 {
      font-size: 1.8em; } }
  @media screen and (max-width: 330px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.59em; }
  @media screen and (max-width: 1150px) {
    h3 {
      font-size: 1.5em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.3em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.2em; } }

p, time {
  font-size: 1.3em; }
  @media screen and (max-width: 970px) {
    p, time {
      font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    p, time {
      font-size: 1.1em; } }
  @media screen and (max-width: 533px) {
    p, time {
      font-size: 0.9em; } }

a {
  font-size: 1.4em;
  text-decoration: none;
  color: #8bcfb5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  a:hover {
    cursor: pointer; }

nav a, form input, form span {
  font-size: 1em;
  text-transform: uppercase; }
  @media screen and (max-width: 770px) {
    nav a, form input, form span {
      font-size: 0.8em; } }

ul {
  padding: 0;
  list-style: none;
  list-style-type: none; }

input:focus {
  outline: none; }

nav {
  display: inline-block; }
  nav a {
    color: #5f6764;
    font-family: Lato_b;
    letter-spacing: 1px;
    color: #FFFFFF; }
    nav a:before, nav a:after {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #FFFFFF;
      content: "";
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    nav a:before {
      top: 0px;
      -webkit-transform: translateY(15px);
      -moz-transform: translateY(15px);
      -ms-transform: translateY(15px);
      -o-transform: translateY(15px);
      transform: translateY(15px); }
    nav a:after {
      bottom: 0px;
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px); }
    nav a:hover:before, nav a:hover:after {
      opacity: 1;
      -webkit-transform: translateY(2px);
      -moz-transform: translateY(2px);
      -ms-transform: translateY(2px);
      -o-transform: translateY(2px);
      transform: translateY(2px); }

form {
  width: 70%;
  letter-spacing: 1px;
  font-family: Lato_b;
  margin: 0 auto;
  position: relative; }
  form::after {
    clear: both;
    content: "";
    display: table; }
  form input {
    border: none;
    height: 50px;
    text-align: center;
    color: #5f6764; }
  form span {
    position: absolute;
    color: #5f6764; }
  form input:last-child {
    background-color: #222222;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    form input:last-child:hover {
      box-shadow: 0px 50px 0px 0px #5f6764 inset; }

header {
  width: 100%;
  background-color: #8bcfb5;
  color: #FFFFFF;
  position: relative;
  padding: 3%; }
  header img {
    width: 70px;
    height: 53px; }
  header nav {
    position: absolute;
    top: 35%;
    right: 5%;
    height: 30px; }
    header nav ul {
      margin: 5px 0px 0px 0px; }
      header nav ul a {
        margin: 0px 10px; }

.logo {
  display: inline-block; }
  .logo h1 {
    margin: 0; }
  .logo img {
    display: block; }

section {
  padding: 6% 2% 6% 2%; }
  @media screen and (max-width: 1200px) {
    section {
      padding: 8% 2% 8% 2%; } }
  @media screen and (max-width: 970px) {
    section {
      padding: 9% 2% 9% 2%; } }
  @media screen and (max-width: 650px) {
    section {
      padding: 13% 2% 13% 2%; } }
  @media screen and (max-width: 533px) {
    section {
      padding: 16% 2% 16% 2%; } }
  @media screen and (max-width: 330px) {
    section {
      padding: 22% 1% 22% 1%; } }
  section div.container h1, section div.container h2 {
    margin: 0; }
  section div.container h1 {
    max-width: 950px;
    margin: 0 auto; }
    @media screen and (max-width: 970px) {
      section div.container h1 {
        max-width: 700px; } }
    @media screen and (max-width: 650px) {
      section div.container h1 {
        max-width: 650px; } }
    @media screen and (max-width: 500px) {
      section div.container h1 {
        max-width: 450px; } }
    @media screen and (max-width: 330px) {
      section div.container h1 {
        max-width: 319px; } }
  section div.container p {
    margin: 4% auto;
    max-width: 800px; }
    section div.container p a {
      font-size: 1em;
      color: #5f6764; }
      section div.container p a:hover {
        color: #222222; }
  section div.container div p {
    margin: 1% auto;
    max-width: 825px; }
    @media screen and (max-width: 970px) {
      section div.container div p {
        max-width: 635px; } }
    @media screen and (max-width: 670px) {
      section div.container div p {
        max-width: 440px; } }
    @media screen and (max-width: 533px) {
      section div.container div p {
        max-width: 360px; } }
    @media screen and (max-width: 415px) {
      section div.container div p {
        max-width: 330px; } }
    @media screen and (max-width: 330px) {
      section div.container div p {
        max-width: 281px; } }
    section div.container div p a {
      color: #8bcfb5;
      font-size: 1em; }
      section div.container div p a:hover {
        color: black; }

footer {
  background-color: #222222;
  text-align: center;
  padding: 5% 2% 5% 2%; }
  footer nav, footer .logo, footer .social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer nav:last-child, footer .logo:last-child, footer .social:last-child {
      margin-right: 0; }
  footer .container nav {
    position: static;
    height: auto; }
    footer .container nav ul {
      margin: 0; }
      footer .container nav ul li {
        display: inline-block;
        position: relative; }
        footer .container nav ul li a {
          color: #5f6764; }
          footer .container nav ul li a:before, footer .container nav ul li a:after {
            background: #5f6764; }
          footer .container nav ul li a:before {
            top: -4px; }
      footer .container nav ul li {
        margin-right: 7px; }
      footer .container nav ul li:last-child {
        margin-right: 0; }
  footer .container img {
    width: 45px;
    height: 34px;
    margin: 0 auto; }
  footer .container .social {
    margin-right: 2.35765%; }
    footer .container .social ul li {
      display: inline-block; }
      footer .container .social ul li a i {
        color: #FFFFFF;
        font-size: 1.2em;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        @media screen and (max-width: 650px) {
          footer .container .social ul li a i {
            font-size: 0.9em; } }
      footer .container .social ul li a:hover i {
        color: #8bcfb5;
        text-shadow: 0 0 2px #8bcfb5; }
    footer .container .social ul li:first-child {
      padding-right: 5%; }
    footer .container .social ul li:last-child {
      padding-left: 5%; }

.blur {
  text-shadow: 0 0 10px #646D6E;
  color: transparent;
  animation: scale 1s ease-in-out  alternate;
  -webkit-animation: scale 1s ease-in-out  alternate;
  -moz-animation: scale 1s ease-in-out  alternate; }

@keyframes scale {
  50% {
    transform: scale(1.3); } }
@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.3); } }
@-moz-keyframes scale {
  50% {
    -moz-transform: scale(1.3); } }
.Aligner-inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.Aligner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.Aligner-item {
  max-width: 50%; }

/*# sourceMappingURL=base_redux.css.map */
