html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -moz-transition: -moz-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px; }
        .carousel-inner > .item.next, .carousel-inner > .item.active.right {
          -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          left: 0; } }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0; }
  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block; }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px; }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px; }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif; }
  .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel-control .icon-next:before {
    content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: -60px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #5f6764;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent; }
  .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #5f6764; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0; }
  .carousel-caption .btn {
    text-shadow: none; }

@media screen and (min-width: 980px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: -50px; } }
@media screen and (max-width: 850px) {
  .carousel-indicators {
    display: none; } }
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

@font-face {
  font-family: Lato_a;
  src: url(../fonts/Lato-Reg.ttf); }
@font-face {
  font-family: Lato_b;
  src: url(../fonts/Lato-Reg.ttf); }
h1, p, h2, h3 {
  text-decoration: none;
  font-family: Lato_a; }

h1 {
  font-size: 4.5em; }
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 4em; } }
  @media screen and (max-width: 970px) {
    h1 {
      font-size: 3.5em; } }
  @media screen and (max-width: 650px) {
    h1 {
      font-size: 3em; } }
  @media screen and (max-width: 533px) {
    h1 {
      font-size: 2.7em; } }
  @media screen and (max-width: 415px) {
    h1 {
      font-size: 2.3em; } }
  @media screen and (max-width: 330px) {
    h1 {
      font-size: 2.15em; } }

h2 {
  font-size: 2.3em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2em; } }
  @media screen and (max-width: 533px) {
    h2 {
      font-size: 1.8em; } }
  @media screen and (max-width: 330px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.59em; }
  @media screen and (max-width: 1150px) {
    h3 {
      font-size: 1.5em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.3em; } }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.2em; } }

p, time, .blog_content li {
  font-size: 1.3em; }
  @media screen and (max-width: 970px) {
    p, time, .blog_content li {
      font-size: 1.2em; } }
  @media screen and (max-width: 768px) {
    p, time, .blog_content li {
      font-size: 1.1em; } }
  @media screen and (max-width: 533px) {
    p, time, .blog_content li {
      font-size: 0.9em; } }

@media screen and (max-width: 599px) {
  time, time ~ p {
    font-size: 0.7em; } }

a {
  font-size: 1.4em;
  text-decoration: none;
  color: #8bcfb5;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  a:hover {
    cursor: pointer; }

nav a, form input, form span, nav button {
  font-size: 1em;
  text-transform: uppercase; }
  @media screen and (max-width: 970px) {
    nav a, form input, form span, nav button {
      font-size: 0.9em; } }
  @media screen and (max-width: 845px) {
    nav a, form input, form span, nav button {
      font-size: 0.8em; } }

button {
  background-color: #222222;
  color: #FFFFFF;
  border: none;
  height: 50px;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  button:hover {
    box-shadow: 0px 50px 0px 0px #5f6764 inset; }
  button a {
    font-size: inherit;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.5;
    padding: 0 20px;
    letter-spacing: 1px; }

ul {
  padding: 0;
  list-style: none;
  list-style-type: none; }

input:focus {
  outline: none; }

.chevron::before {
  border-style: solid;
  border-width: 0.16em 0.16em 0 0;
  content: '';
  display: inline-block;
  height: 0.5em;
  left: 0.15em;
  position: relative;
  top: -0.1em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  width: 0.5em; }

.chevron.right:before {
  left: 1%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

nav a {
  color: #5f6764;
  font-family: Lato_b;
  letter-spacing: 1px;
  color: #FFFFFF;
  position: relative; }
  nav a:before, nav a:after {
    position: absolute;
    left: -3px;
    width: 106%;
    height: 1px;
    background: #FFFFFF;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  nav a:before {
    top: -4px;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px); }
  nav a:after {
    bottom: -2px;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  nav a:hover:before, nav a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px); }
nav button {
  height: 42px;
  display: inline-block; }
  nav button:hover {
    box-shadow: 0px 42px 0px 0px #5f6764 inset; }
  nav button a:hover:before, nav button a:hover:after {
    opacity: 0; }

form {
  width: 70%;
  letter-spacing: 1px;
  font-family: Lato_b;
  margin: 0 auto;
  position: relative; }
  form::after {
    clear: both;
    content: "";
    display: table; }
  form input {
    border: none;
    height: 50px;
    text-align: center;
    color: #5f6764; }
  form span {
    position: absolute;
    color: #5f6764; }
  form input:last-child {
    background-color: #222222;
    color: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    form input:last-child:hover {
      box-shadow: 0px 50px 0px 0px #5f6764 inset; }

header {
  width: 100%;
  background-color: #8bcfb5;
  color: #FFFFFF;
  padding: 3%; }
  header .container {
    max-width: 61em; }
    header .container::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 1200px) {
      header .container {
        max-width: 56em; } }
    @media screen and (max-width: 970px) {
      header .container {
        max-width: 46em; } }
    @media screen and (max-width: 845px) {
      header .container {
        max-width: 43em; } }
    header .container .logo {
      float: left; }
      header .container .logo a {
        clear: both;
        content: "";
        display: table; }
    header .container img {
      width: 70px;
      height: 53px; }
    header .container nav {
      margin-top: 6px;
      float: right; }
      header .container nav ul {
        margin: 9px 0px 0px 0px;
        float: left;
        width: 345px; }
        header .container nav ul li {
          display: inline-block; }
        header .container nav ul li:not(:first-of-type) {
          margin-left: 20px; }
      header .container nav button {
        float: right;
        /*width:26%;*/
        vertical-align: middle;
        /*padding:0 4%; */
        margin-left: 20px; }
        @media screen and (max-width: 845px) {
          header .container nav button {
            margin-left: 0; } }

.logo {
  display: inline-block; }
  .logo h1 {
    margin: 0; }
  .logo img {
    display: block; }

section {
  padding: 6% 2% 6% 2%; }
  @media screen and (max-width: 1200px) {
    section {
      padding: 8% 2% 8% 2%; } }
  @media screen and (max-width: 970px) {
    section {
      padding: 9% 2% 9% 2%; } }
  @media screen and (max-width: 650px) {
    section {
      padding: 13% 2% 13% 2%; } }
  @media screen and (max-width: 533px) {
    section {
      padding: 16% 2% 16% 2%; } }
  @media screen and (max-width: 330px) {
    section {
      padding: 22% 1% 22% 1%; } }
  section div.container button {
    text-transform: uppercase; }
    section div.container button a {
      line-height: 3;
      padding: 0 45px; }
  section div.container h1, section div.container h2 {
    margin: 0; }
  section div.container h1 {
    max-width: 950px;
    margin: 0 auto; }
    @media screen and (max-width: 970px) {
      section div.container h1 {
        max-width: 700px; } }
    @media screen and (max-width: 650px) {
      section div.container h1 {
        max-width: 650px; } }
    @media screen and (max-width: 500px) {
      section div.container h1 {
        max-width: 450px; } }
    @media screen and (max-width: 330px) {
      section div.container h1 {
        max-width: 319px; } }
  section div.container p {
    margin: 8% auto 4% auto;
    max-width: 800px; }
    section div.container p a {
      font-size: 1em;
      color: #5f6764; }
      section div.container p a:hover {
        color: #222222; }
  section div.container div p {
    margin: 1% auto;
    max-width: 825px; }
    @media screen and (max-width: 970px) {
      section div.container div p {
        max-width: 635px; } }
    @media screen and (max-width: 670px) {
      section div.container div p {
        max-width: 440px; } }
    @media screen and (max-width: 533px) {
      section div.container div p {
        max-width: 360px; } }
    @media screen and (max-width: 415px) {
      section div.container div p {
        max-width: 330px; } }
    @media screen and (max-width: 330px) {
      section div.container div p {
        max-width: 281px; } }
    section div.container div p a {
      color: #8bcfb5;
      font-size: 1em; }
      section div.container div p a:hover {
        color: black; }

footer {
  background-color: #222222;
  text-align: center;
  padding: 5% 2% 5% 2%; }
  footer nav, footer .logo, footer .social {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer nav:last-child, footer .logo:last-child, footer .social:last-child {
      margin-right: 0; }
  footer .container nav {
    position: static;
    height: auto; }
    footer .container nav ul {
      margin: 0; }
      footer .container nav ul li {
        display: inline-block;
        position: relative; }
        footer .container nav ul li a {
          color: #5f6764; }
          footer .container nav ul li a:before, footer .container nav ul li a:after {
            background: #5f6764; }
          footer .container nav ul li a:before {
            top: -4px; }
      footer .container nav ul li {
        margin-right: 7px; }
      footer .container nav ul li:last-child {
        margin-right: 0; }
  footer .container img {
    width: 45px;
    height: 34px;
    margin: 0 auto; }
  footer .container .social {
    margin-right: 2.35765%; }
    footer .container .social ul li {
      display: inline-block; }
      footer .container .social ul li a i {
        color: #FFFFFF;
        font-size: 1.2em;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        @media screen and (max-width: 650px) {
          footer .container .social ul li a i {
            font-size: 0.9em; } }
      footer .container .social ul li a:hover i {
        color: #8bcfb5;
        text-shadow: 0 0 2px #8bcfb5; }
    footer .container .social ul li:first-child {
      padding-right: 5%; }
    footer .container .social ul li:last-child {
      padding-left: 5%; }

.blur {
  text-shadow: 0 0 10px #646D6E;
  color: transparent;
  animation: scale 1s ease-in-out  alternate;
  -webkit-animation: scale 1s ease-in-out  alternate;
  -moz-animation: scale 1s ease-in-out  alternate; }

@keyframes scale {
  50% {
    transform: scale(1.3); } }
@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(1.3); } }
@-moz-keyframes scale {
  50% {
    -moz-transform: scale(1.3); } }
.Aligner-inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.Aligner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.Aligner-item {
  max-width: 50%; }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%; }

.item:nth-child(1) {
  background: #8bcfb5; }

.item:nth-child(2) {
  background: #8bcfb5; }

.item:nth-child(3) {
  background: #8bcfb5; }

form input {
  float: left; }
form input:first-child {
  width: 65%; }
  @media screen and (max-width: 600px) {
    form input:first-child {
      width: 100%; } }
form span {
  bottom: 25%;
  left: 30%; }
  @media screen and (max-width: 770px) {
    form span {
      bottom: 31%; } }
  @media screen and (max-width: 600px) {
    form span {
      bottom: 65%;
      left: 43%; } }
form input:last-child {
  width: 34%; }
  @media screen and (max-width: 600px) {
    form input:last-child {
      width: 100%;
      margin-top: 2%; } }

.hero {
  background-color: #8bcfb5;
  color: #FFFFFF; }
  @media screen and (max-width: 900px) {
    .hero div.container > p {
      max-width: 650px; } }
  @media screen and (max-width: 750px) {
    .hero div.container > p {
      max-width: 500px; } }
  @media screen and (max-width: 550px) {
    .hero div.container > p {
      max-width: 400px; } }
  @media screen and (max-width: 415px) {
    .hero div.container > p {
      max-width: 215px;
      margin: 6% auto; } }
  .hero div.container > div:last-of-type > a {
    margin-left: 1%;
    color: #5f6764;
    display: inline-block;
    height: 50px;
    vertical-align: baseline; }
    .hero div.container > div:last-of-type > a > p {
      margin: 0px !important;
      display: inline-block;
      font-size: 1em;
      padding-top: 8px;
      letter-spacing: 1px; }
    .hero div.container > div:last-of-type > a:hover {
      color: #FFFFFF; }

.explainerWhat ul {
  margin: 8% 0 0 0; }
  .explainerWhat ul::after {
    clear: both;
    content: "";
    display: table; }
  .explainerWhat ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .explainerWhat ul li:last-child {
      margin-right: 0; }
    @media screen and (max-width: 600px) {
      .explainerWhat ul li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        max-width: 300px;
        margin: 0 auto !important;
        float: none; }
        .explainerWhat ul li:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 600px) and (max-width: 415px) {
    .explainerWhat ul li {
      max-width: 259px; } }

    .explainerWhat ul li i {
      color: #8bcfb5; }
    .explainerWhat ul li h3 {
      margin-bottom: 2%; }
    .explainerWhat ul li p {
      margin-top: 0; }
      .explainerWhat ul li p a {
        color: #8bcfb5;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        font-size: 1em; }
        .explainerWhat ul li p a:hover {
          color: #5f6764; }

.explainerHow {
  background-color: #5f6764;
  color: #FFFFFF; }
  .explainerHow .container ul {
    width: 60%;
    margin: 6% auto 0 auto; }
    @media screen and (max-width: 600px) {
      .explainerHow .container ul {
        width: 80%; } }
    @media screen and (max-width: 400px) {
      .explainerHow .container ul {
        width: 90%; } }
    .explainerHow .container ul li {
      width: 100%;
      background: #FFFFFF;
      margin-bottom: 1%;
      padding: 1% 1% 1% 1%;
      justify-content: initial; }
      .explainerHow .container ul li::after {
        clear: both;
        content: "";
        display: table; }
      .explainerHow .container ul li * {
        display: inline-block; }
      .explainerHow .container ul li p:first-of-type {
        float: left;
        font-size: 3em;
        margin: 0;
        background: #8bcfb5;
        padding: 1% 3%; }
      .explainerHow .container ul li p:last-of-type {
        color: #5f6764;
        display: block;
        margin: 0 auto;
        font-size: 1.2em;
        min-width: 400px;
        max-width: 500px; }
        @media screen and (max-width: 1200px) {
          .explainerHow .container ul li p:last-of-type {
            min-width: 350px;
            max-width: 400px; } }
        @media screen and (max-width: 900px) {
          .explainerHow .container ul li p:last-of-type {
            font-size: 1.1em;
            min-width: 300px;
            max-width: 310px; } }
        @media screen and (max-width: 650px) {
          .explainerHow .container ul li p:last-of-type {
            font-size: 1em;
            min-width: 208px;
            max-width: 279px; } }
        @media screen and (max-width: 533px) {
          .explainerHow .container ul li p:last-of-type {
            font-size: 0.9em;
            min-width: 180px;
            max-width: 220px; } }
    .explainerHow .container ul li:last-child {
      margin-bottom: 0; }

.features {
  background-color: #222222;
  color: #FFFFFF; }
  .features ul {
    margin: 6% auto 0 auto;
    padding: 0;
    width: 80%; }
    .features ul li {
      display: inline-block;
      width: 49%;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 650px) {
        .features ul li {
          width: 100%; } }
      .features ul li * {
        display: inline-block;
        max-width: 50%; }
      .features ul li i {
        color: #5f6764;
        margin: 0; }
      .features ul li p {
        color: #FFFFFF;
        text-align: left;
        margin: auto 0 auto 10px;
        max-width: 176px; }
        @media screen and (max-width: 750px) {
          .features ul li p {
            max-width: 160px; } }
        @media screen and (max-width: 650px) {
          .features ul li p {
            max-width: 144px; } }
    .features ul li:nth-child(n+3) {
      margin-top: 4%; }
    @media screen and (max-width: 650px) {
      .features ul li:nth-child(2) {
        margin-top: 4%; } }

.team img {
  width: 45px;
  height: 34px; }

.finalCTA {
  background-color: #8bcfb5;
  color: #FFFFFF; }
  .finalCTA div.container p {
    margin: 2% auto; }
    @media screen and (max-width: 600px) {
      .finalCTA div.container p {
        max-width: 215px;
        margin: 6% auto; } }
  .finalCTA div.container span {
    bottom: 28%; }
    @media screen and (max-width: 600px) {
      .finalCTA div.container span {
        bottom: 68%; } }
    @media screen and (max-width: 330px) {
      .finalCTA div.container span {
        bottom: 66%; } }
  .finalCTA button {
    text-transform: uppercase; }

#product .hero p {
  margin: 3% auto;
  max-width: 500px; }
#product .hero .architecture {
  margin: 0px auto;
  width: 500px;
  background-color: #EEEEEE;
  padding: 15px;
  color: #5f6764; }
  #product .hero .architecture #platform:hover {
    cursor: pointer; }
  #product .hero .architecture #olap, #product .hero .architecture #oltp, #product .hero .architecture #clustermanager, #product .hero .architecture #gemxd, #product .hero .architecture #spark, #product .hero .architecture #yourapps {
    height: 75px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    line-height: 3;
    background: #FFFFFF;
    margin-top: 10px;
    position: relative; }
    #product .hero .architecture #olap h3, #product .hero .architecture #oltp h3, #product .hero .architecture #clustermanager h3, #product .hero .architecture #gemxd h3, #product .hero .architecture #spark h3, #product .hero .architecture #yourapps h3 {
      margin: 0; }
    #product .hero .architecture #olap:hover, #product .hero .architecture #oltp:hover, #product .hero .architecture #clustermanager:hover, #product .hero .architecture #gemxd:hover, #product .hero .architecture #spark:hover, #product .hero .architecture #yourapps:hover {
      cursor: pointer;
      box-shadow: 0px 160px 0px 0px #8bcfb5 inset; }
    #product .hero .architecture #olap span, #product .hero .architecture #oltp span, #product .hero .architecture #clustermanager span, #product .hero .architecture #gemxd span, #product .hero .architecture #spark span, #product .hero .architecture #yourapps span {
      background: #222222;
      color: #FFFFFF;
      position: absolute;
      left: 17%;
      opacity: 0.8;
      padding: 0 10px;
      margin-top: 3px;
      white-space: nowrap;
      line-height: 2; }
    #product .hero .architecture #olap span:after, #product .hero .architecture #oltp span:after, #product .hero .architecture #clustermanager span:after, #product .hero .architecture #gemxd span:after, #product .hero .architecture #spark span:after, #product .hero .architecture #yourapps span:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(34, 34, 34, 0);
      border-bottom-color: #222222;
      border-width: 5px;
      margin-left: -5px; }
  #product .hero .architecture #olap span {
    left: 11%; }
  #product .hero .architecture #spark span {
    left: -5%;
    margin-top: 14px; }
  #product .hero .architecture #oltp span {
    left: 7%; }
  #product .hero .architecture #gemxd span {
    left: 22%; }
  #product .hero .architecture > div:first-child {
    margin-bottom: 15px; }
    #product .hero .architecture > div:first-child img {
      position: static;
      width: 45px;
      height: 34px; }
  #product .hero .architecture #spark img {
    width: 125px;
    height: 66px; }
  #product .hero .architecture #oltp, #product .hero .architecture #olapbox {
    width: 49%;
    vertical-align: bottom;
    display: inline-block;
    height: 160px; }
  #product .hero .architecture #oltp {
    margin-left: 1%;
    line-height: 6.5; }
  #product .hero .architecture #olap {
    margin-top: 0; }
#product .explainerWhat:nth-child(3), #product .explainerWhat:nth-child(6) {
  background-color: #5f6764;
  color: #FFFFFF; }
#product .explainerWhat:nth-child(4) {
  background-color: #222222;
  color: #FFFFFF; }
#product .explainerWhat:nth-child(4) ul li, #product .explainerWhat:nth-child(5) ul li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #product .explainerWhat:nth-child(4) ul li:last-child, #product .explainerWhat:nth-child(5) ul li:last-child {
    margin-right: 0; }

#about .hero p {
  margin: 3% auto;
  max-width: 700px; }
#about section ul {
  margin: 3% 0 0 0; }
#about .explainerWhat ul li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  #about .explainerWhat ul li:last-child {
    margin-right: 0; }
  #about .explainerWhat ul li div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #about .explainerWhat ul li div:last-child {
      margin-right: 0; }
    #about .explainerWhat ul li div h3 {
      margin-bottom: 10px; }
  #about .explainerWhat ul li p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0;
    text-align: left;
    margin: 73px auto 0 auto; }
    #about .explainerWhat ul li p:last-child {
      margin-right: 0; }
#about .explainerWhat:nth-child(3) {
  background-color: #5f6764;
  color: #FFFFFF; }
#about .explainerWhat:nth-child(4) {
  background-color: #222222;
  color: #FFFFFF; }
#about section img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%; }
#about .finalCTA div.container > ul {
  margin: 4% 0 0 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%; }
  #about .finalCTA div.container > ul:last-child {
    margin-right: 0; }
  #about .finalCTA div.container > ul > li {
    text-align: left;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #about .finalCTA div.container > ul > li::after {
      clear: both;
      content: "";
      display: table; }
    #about .finalCTA div.container > ul > li > p, #about .finalCTA div.container > ul > li > ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      margin-right: 0; }
      #about .finalCTA div.container > ul > li > p:last-child, #about .finalCTA div.container > ul > li > ul:last-child {
        margin-right: 0; }
    #about .finalCTA div.container > ul > li > i {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%;
      vertical-align: bottom;
      margin-top: 8px; }
      #about .finalCTA div.container > ul > li > i:last-child {
        margin-right: 0; }
    #about .finalCTA div.container > ul > li > p {
      margin: 0; }
      #about .finalCTA div.container > ul > li > p a {
        font-size: inherit; }
    #about .finalCTA div.container > ul > li a {
      color: #5f6764;
      font-size: 1.3em; }
      #about .finalCTA div.container > ul > li a:hover {
        color: #FFFFFF; }
    #about .finalCTA div.container > ul > li ul {
      margin: 0;
      display: inline-block; }
      #about .finalCTA div.container > ul > li ul li {
        display: inline-block; }
      #about .finalCTA div.container > ul > li ul li:not(:first-child) {
        margin-left: 3px; }
  #about .finalCTA div.container > ul > li:not(:first-child) {
    margin-top: 6px; }

#support .explainerWhat:nth-child(3) {
  background-color: #5f6764;
  color: white; }
  #support .explainerWhat:nth-child(3) ul {
    margin: 2% 0 0 0; }
    #support .explainerWhat:nth-child(3) ul li {
      width: 30.9%;
      margin-top: 2%; }
      #support .explainerWhat:nth-child(3) ul li h3 {
        margin-top: 1%; }
      #support .explainerWhat:nth-child(3) ul li i {
        color: white; }
      #support .explainerWhat:nth-child(3) ul li a {
        font-size: inherit; }
        #support .explainerWhat:nth-child(3) ul li a:hover {
          color: #222222; }

#download .hero div.container p {
  margin: 4% auto; }
#download .hero div.container > div:last-of-type {
  margin-top: 2%; }
  #download .hero div.container > div:last-of-type a, #download .hero div.container > div:last-of-type p {
    text-decoration: underline; }
#download .explainerWhat ul {
  margin: 2% 0 0 0; }
  #download .explainerWhat ul li {
    width: 30.9%;
    margin-top: 2%; }
    #download .explainerWhat ul li h3 {
      margin-top: 1%; }
    #download .explainerWhat ul li i {
      color: #222222; }
    #download .explainerWhat ul li a {
      font-size: inherit; }
      #download .explainerWhat ul li a:hover {
        color: #222222; }

/*# sourceMappingURL=landing_redux.css.map */
