/*initialize*/

html { /*background: url("../img/diagonal_strokes_darker.png") repeat scroll 0 0 #1B1B1B;*/ 
overflow:hidden;
overflow-y:scroll;
  background: url(../images/login_servers_blue2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
     font-family: "ProximaNovaT-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: white;
}

.clearfix:before, .clearfix:after {
  content: "";
display: table;
}

.clearfix:after {
clear: both;
}


h1, p, h2 {
	margin:0;
}

h1 {
	font-size:60px;
}

h2 {
	font-size:28px;
}

p, li {
	font-size:25px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}


/*begin styles */

body {
  height:100%;
}

.CTA {
	text-align:center;
}

.CTA > form > input {
margin-bottom:10px;
}

.CTA > form {
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	background: #eaf8fc;
				background-image: -moz-linear-gradient(#fff, #d4e8ec);
				background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
				border-width: 1px;
				border-style: solid;
				border-color: #c4d9df #a4c3ca #83afb7; 
	-moz-border-radius: 5px;
	border-radius: 5px;            
	width: 100%;
	max-width:600px;
	height: auto;
	padding: 10px;
	overflow: hidden;
	position:relative;
}

.CTA > form > * {
	float:left;
}

.CTA > form > .box {
			padding: 5px 9px;
            height: 50px;
            width: 100%;
            border: 1px solid #a4c3ca;
-moz-border-radius: 10px 10px 10px 10px;
             border-radius: 10px 10px 10px 10px;
            background: #f1f1f1;
            font-size:25px;
            color:black;
            text-shadow: 0 1px 0 rgba(0,0,0,0.3);

             -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
             -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);   

             	transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;   
}

.CTA > form > .box:focus {
 border-color: #8badb4;
            background: #fff;
            outline: none;
}

.CTA > form > span {
	position: absolute;
color: #8F9294;
font-size: 25px;
left: 3.5%;
}

.CTA > form > span:first-of-type {
  bottom: 72%;
}

.CTA > form > span:last-of-type {
bottom: 40%;
}

.CTA > form > button {
	  background: #3498DB;
            background-image: -moz-linear-gradient(#2980B9, #3498DB);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2980B9),color-stop(1, #3498DB));
            
            
            border-width: 1px;
            border-style: solid;
            border-color: #3498DB #2C80B8 #2770A1;
             -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
             
            
             -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
             box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset; 
			font-size:25px;
			height: 50px;
			/*margin: 0 0 0 10px;*/
			padding: 0;
			width: 100%;
			/*font-weight:bold;*/
			cursor: pointer;
			color: white;
			
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);

	transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
		}

.CTA > form > button:hover {
	background: #3498DB;
            background-image: -moz-linear-gradient(#3498DB, #2980B9);
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3498DB),color-stop(1, #2980B9));
}

.CTA > form > button:active {
	 background: #3498DB;
			outline: none;
           
             -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
             box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.CTA > form > button::-moz-focus-inner {
	border: none;
}


.blur{
   text-shadow: 0 0 10px #646D6E;
   color: transparent;
   
  animation: scale 1s ease-in-out  alternate;
    -webkit-animation: scale 1s ease-in-out  alternate;
   -moz-animation: scale 1s ease-in-out  alternate;
}

   
  
@keyframes scale { 
  50% { transform: scale(1.3)}
  
  }
@-webkit-keyframes scale { 
  50% { -webkit-transform: scale(1.3)}
	
  }
  @-moz-keyframes scale { 
  50% { -moz-transform: scale(1.3)}
	
  }