@main("Welcome to SnappyData"){
<main id="download">
    <section class="hero">
        <div class="container">
            <h1>SnappyData Download</h1>
            <p>Clone or fork via our repo, or download the binaries.</p>
            <div>
            <button><a href="#">Github Repo</a></button>
            <button><a href="#">Binaries</a></button>
            </div>
            <div>
            <a href="@routes.Registration.support#docs"><p>view our docs</p></a>
            </div>
        </div>
    </section>
    <section class="explainerWhat">
        <div class="container">
            <div>
                <h2>Community Support</h2>
                <p>There are a variety of ways to get in contact with the SnappyData community:</p>
            </div>
            <ul>
                <li>
                    <i class="fa fa-github fa-2x"></i>
                    <h3><a>Join the gitter channel</a></h3>
                    <p>Use your github login to join our gitter chat channel</p>
                </li>
                <li>
                    <i class="fa fa-slack fa-2x"></i>
                    <h3><a>Join the Slack channel</a></h3>
                    <p>Join our public Slack channel provided via slackin</p>
                </li>
                <li>
                    <i class="fa fa-comment fa-2x"></i>
                    <h3><a>Join the IRC channel</a></h3>
                    <p>We're on irc.freenode.net in the channel #snappydata</p>
                </li>
                <li>
                    <i class="fa fa-stack-overflow fa-2x"></i>
                    <h3><a>Ask on StackOverflow</a></h3>
                    <p>We and other experts monitor the 'snappydata' tag on StackOverflow</p>
                </li>
                <li>
                    <i class="fa fa-reddit fa-2x"></i>
                    <h3><a>Ask on Reddit</a></h3>
                    <p>We follow the r/snappydata subreaddit</p>
                </li>
                <li>
                    <i class="fa fa-bug fa-2x"></i>
                    <h3><a>File a bug</a></h3>
                    <p>File a bug through our JIRA instance</p>
                </li>
            </ul>
        </div>
    </section>
</main>

}