@main("Welcome to SnappyData") {
<main id="product">
    <section class="hero">
        <div class="container">
            <h1>Stream, Transact, Analyze all in one in-memory cluster</h1>
            <p>SnappyData fuses <a target="_blank" href="http://spark.apache.org/">Apache Spark</a> with a highly available, multi-tenanted in-memory database to execute OLAP & OLTP queries on streaming data</p>
            <div class="architecture">
                <img src="@routes.Assets.at("images/SNP-Icon-Green.png")" alt="SnappyData" />
                <div id="clustermanager"><h3>Cluster Manager</h3></div>
                <div id="spark"><img src="@routes.Assets.at("images/spark-logo.png")"></div>
                <div id="gemxd"><h3>GemXD</h3></div>
            </div>
        </div>
    </section>
    <section class=""></section>
</main>
}