@(document: io.prismic.Document)(implicit ctx: PrismicHelper.Context)

@main(s"Document detail ${document.uid}") {

<main>
<div class="container">
    <article class="summary">
    <img src="@document.getImage("article.illustration", "icon").fold("/assets/images/default.png")(_.url)" />
        <div>
<div>
    <a href="@routes.PrismicMain.detail(document.uid.getOrElse(""))">
        @document.getText("article.explicittitle").getOrElse("")
    </a>
</div>
<div>
    <time>@document.getDate("article.date").fold("")(_.asText("MM-dd-yyyy"))</time>
    <p>| @document.getText("article.author").getOrElse("Anonymous")</p>
</div>
        </div>
    </article>

    <article class="blog_content" id="@document.uid.getOrElse("")">
    @Html(document.getHtml("article.title", ctx.linkResolver).getOrElse(""))
    @Html(document.getHtml("article.content", ctx.linkResolver).getOrElse(""))
</article>


</div>
</main>
}
