@(response: io.prismic.Response)(implicit ctx: PrismicHelper.Context)

@main("All documents") {

<form action="@routes.PrismicMain.search()" method="GET">
    <input type="text" name="q" value="">
    <input type="submit" value="Search">
</form>

<hr>

<h2>

</h2>
<main class="landing">
<ul>
    @response.results.map { document =>

<li>
    <img src="@document.getImage("article.illustration", "icon").fold("")(_.url)" />


<section class="summary">
    <a href="@routes.PrismicMain.detail(document.uid.getOrElse(""))">
        @document.getText("article.explicittitle").getOrElse("")
    </a>
    <time>@document.getDate("article.date").fold("")(_.asText("MM-dd-yyyy"))</time>
    <p class="author">@document.getText("article.author").getOrElse("Anonymous")</p>

    <p>@document.getText("article.longlede").getOrElse("")</p>
    </section>
    </li>
    }
</ul>
</main>
@if(response.totalPages > 1) {
<div>
    @if(response.prevPage.isDefined) {
    <a href="@routes.PrismicMain.index(response.page - 1)">Previous</a>
    } else {
    <span>Previous</span>
    }
    @if(response.nextPage.isDefined) {
    <a href="@routes.PrismicMain.index(response.page + 1)">Next</a>
    } else {
    <span>Next</span>
    }
</div>
}
}