@(response: io.prismic.Response)(implicit ctx: PrismicHelper.Context)

@main("All documents") {

<main>
    <section class="hero">
        <h1>Snappy Blog</h1>

    </section>
    <section class="blogroll">

        <ul class="container">
    @response.results.map { document =>

<li>
    <article>
    <img src="@document.getImage("article.illustration", "icon").fold("/assets/images/default.png")(_.url)" />

        <div>
    <a href="@routes.PrismicMain.detail(document.uid.getOrElse(""))">
        @document.getText("article.explicittitle").getOrElse("")
    </a>
    <time>@document.getDate("article.date").fold("")(_.asText("MM-dd-yyyy"))</time>
    <p>| @document.getText("article.author").getOrElse("Anonymous")</p>

    <p>@document.getText("article.longlede").getOrElse("")</p>
        </div>
    </article>
</li>
    }
</ul>
        </section>
</main>
@if(response.totalPages > 1) {
<div>
    @if(response.prevPage.isDefined) {
    <a href="@routes.PrismicMain.index(response.page - 1)">Previous</a>
    } else {
    <span>Previous</span>
    }
    @if(response.nextPage.isDefined) {
    <a href="@routes.PrismicMain.index(response.page + 1)">Next</a>
    } else {
    <span>Next</span>
    }
</div>
    }
}