@(title: String)(content: Html)(implicit ctx: PrismicHelper.Context)

<!DOCTYPE html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        @** Required for Previews and Experiments *@
        <script src="//static.cdn.prismic.io/prismic.min.js"></script>
</head>
<body>

<header>
    <a href="@routes.PrismicMain.index()">
        <h1>Snappy Blog</h1>
    </a>

</header>

@content

@* Here, your google analytics script *@

@* Then include this to use prismic.io experiments:
* @experiment()
*@
<script src="@routes.Assets.at("javascripts/plugins.js")"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
</body>
</html>