@(title: String)(content: Html)

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SnappyData</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon/favicon.ico")">
    <link rel="icon" sizes="16x16 32x32 64x64" href="@routes.Assets.at("images/favicon/favicon.ico")">
    <link rel="icon" type="image/png" sizes="196x196" href="@routes.Assets.at("images/favicon/favicon-192.png")">
    <link rel="icon" type="image/png" sizes="160x160" href="@routes.Assets.at("images/favicon/favicon-160.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.at("images/favicon/favicon-96.png")">
    <link rel="icon" type="image/png" sizes="64x64" href="@routes.Assets.at("images/favicon/favicon-64.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.at("images/favicon/favicon-32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.at("images/favicon/favicon-16.png")">
    <link rel="apple-touch-icon" href="@routes.Assets.at("images/favicon/favicon-57.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("images/favicon/favicon-114.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("images/favicon/favicon-72.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("images/favicon/favicon-144.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("images/favicon/favicon-60.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("images/favicon/favicon-120.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("images/favicon/favicon-76.png")"
    <link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("images/favicon/favicon-152.png")"
    <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("images/favicon/favicon-180.png")"
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="@routes.Assets.at("images/favicon/favicon-144.png")"
    <meta name="msapplication-config" content="@routes.Assets.at("images/favicon/browserconfig.xml")"
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing_redux.css")">
    <script src="@routes.Assets.at("javascripts/vendor/modernizr-2.8.3.min.js")"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
       <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
    <div class="container">
        <div class="logo">
            <h1>
                <a href="@routes.Registration.newReg">
                    <img src="@routes.Assets.at("images/SNP-Icon-White.png")" alt="SnappyData" />
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="@routes.Registration.product">product</a></li>
                <li><a href="@routes.Registration.about">about</a></li>
                <li><a href="@routes.Registration.support">support</a></li>
                <li><a href="@routes.PrismicMain.index()">blog</a></li>
            </ul>
            <button><a href="@routes.Registration.download">download</a></button>
        </nav>
    </div>
</header>
@content
<footer>
    <div class="container Aligner">
        <nav class="Aligner-item">
            <ul>
                <li><a href="@routes.Registration.product">product</a></li>
                <li><a href="@routes.Registration.about">about</a></li>
                <li><a href="#">support</a></li>
                <li><a href="@routes.PrismicMain.index()">blog</a></li>
            </ul>
        </nav>
        <div class="logo Aligner-item">
            <h1>
                <a href="@routes.Registration.newReg">
                    <img src="@routes.Assets.at("images/SNP-Icon-Green.png")" alt="SnappyData" />
                </a>
            </h1>
        </div>
        <div class="social Aligner-item">
            <ul>
                <li>
                    <a target="_blank" href="http://www.facebook.com/snappydata"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a target="_blank" href="http://twitter.com/SnappyData"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a target="_blank" href="http://www.linkedin.com/company/snappydata"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type='text/javascript'>
    $(document).ready(function(){$('.carousel').carousel();});
    </script>
<script src="@routes.Assets.at("javascripts/plugins.js")"></script>
    <script src="@routes.Assets.at("javascripts/wow.js")"></script>
        <script>
        if (window.screen.width > 1025) {
 new WOW().init();}
        </script>

    <script>
    $(document).ready(function(){

    $( "input").focus(function(e) {

        $( e.target ).next(".placeholder").addClass( "blur" ).fadeOut( 900 );
    });
    $( "input" ).blur(function(e) {
        var val=$(e.target).val();
        if(!val){
            $(  e.target  ).next(".placeholder").removeClass( "blur" ).fadeIn( 300 );
        }

    });
    $( ".placeholder " ).click(function(e) {

        $( e.target ).addClass( "blur" ).fadeOut( 900 );
        $(e.target).prev("input").focus();
    });
});
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64703291-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
